streamlit==1.44.0
langchain==0.3.25
langchain-core==0.3.59
langchain-community==0.3.24
langchain-groq==0.3.2
langchain-huggingface==0.1.2
langchain-chroma==0.2.4
langchain-text-splitters==0.3.8
chromadb==0.6.3
sentence-transformers==4.1.0
ddgs==9.14.2
pypdf==5.4.0
pillow==11.2.1
protobuf==5.29.4
